<div id="designer-maker-modal" style="display:none;">
  <div class="designer-maker-details">
    <div class="modal-header">
      <h2>{{ designer_maker.display_name }}</h2>
      <span class="close-modal">&times;</span>
    </div>
    <div class="modal-body">
      <p><strong>Email:</strong> {{ designer_maker.email }}</p>
      <p><strong>Country:</strong> {{ designer_maker.country }}</p>
      <a href="{{ url('designershub.designer_maker_profile', {'designer_maker_id': designer_maker.id}) }}" class="full-profile-link">Visit full profile</a>
    </div>
  </div>
</div>
