#designer-maker-modal {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 50%;
  height: auto;
  max-height: 80%;
  overflow-y: auto;
  margin: auto;
  display: none;
}

#designer-maker-modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
}

#designer-maker-modal p {
  font-size: 1rem;
  margin: 5px 0;
  color: #555;
}

#designer-maker-modal a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

#designer-maker-modal a:hover {
  background-color: #004494;
}

.designer-maker-profile {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.profile-header {
  position: relative;
  text-align: center;
  background-color: #f0f0f0;
}

.profile-cover-photo {
  height: 200px;
  background: url('/modules/custom/designershub/assets/img/CEPR-logo-solid-blue-RGB.png') no-repeat center center;
  background-size: cover;
}

.profile-info {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url('/modules/custom/designershub/assets/img/profile-icon-9.png') no-repeat center center;
  background-size: cover;
  border: 4px solid #fff;
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
}

.profile-details {
  margin-top: 80px;
}

.profile-details h1 {
  font-size: 2rem;
  color: #333;
}

.profile-details p {
  font-size: 1rem;
  color: #666;
}

.profile-body {
  padding: 20px;
}

.profile-address {
  margin-top: 20px;
}

.profile-address h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.profile-address p {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}
